{% extends 'layout.html' %}
{% block head %}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home.css') }}">
{% endblock %}

{% block content %}

        <h1 id="weather-header">Weekly Schedule</h1>
        <div id="weather-cards">
            <div class="card">
                <img class="card-img-top" id="card-0-img" src="" alt="Card image cap">
            <div class="card-body">
                <b><h4 class="card-title" id="card-0-title">Card title</h4></b>
                <h6 class="card-temp" id="card-0-temp" >70°/84°</h6>
                <img class="card-small-img" id="card-0-small-img"></img>
             </div>
            </div>
                        <div class="card">
                <img class="card-img-top" id="card-1-img" src="" alt="Card image cap">
            <div class="card-body">
                <b><h4 class="card-title" id="card-1-title">Card title</h4></b>
                <h6 class="card-temp" id="card-1-temp" >70°/84°</h6>
                <img class="card-small-img" id="card-1-small-img"></img>
             </div>
            </div>
                        <div class="card">
                <img class="card-img-top" id="card-2-img" src="" alt="Card image cap">
            <div class="card-body">
                <b><h4 class="card-title" id="card-2-title">Card title</h4></b>
                <h6 class="card-temp" id="card-2-temp" >70°/84°</h6>
                <img class="card-small-img" id="card-2-small-img"></img>
             </div>
            </div>
                        <div class="card">
                <img class="card-img-top" id="card-3-img" src="" alt="Card image cap">
            <div class="card-body">
                <b><h4 class="card-title" id="card-3-title">Card title</h4></b>
                <h6 class="card-temp" id="card-3-temp" >70°/84°</h6>
                <img class="card-small-img" id="card-3-small-img"></img>
             </div>
            </div>
                        <div class="card">
                <img class="card-img-top" id="card-4-img" src="" alt="Card image cap">
            <div class="card-body">
                <b><h4 class="card-title" id="card-4-title">Card title</h4></b>
                <h6 class="card-temp" id="card-4-temp" >70°/84°</h6>
                <img class="card-small-img" id="card-4-small-img"></img>
             </div>
            </div>
            <div class="card">
                <img class="card-img-top" id="card-5-img" src="" alt="Card image cap">
            <div class="card-body">
                <b><h4 class="card-title" id="card-5-title">Card title</h4></b>
                <h6 class="card-temp" id="card-5-temp" >70°/84°</h6>
                <img class="card-small-img" id="card-5-small-img"></img>
             </div>
            </div>
            <div class="card">
                <img class="card-img-top" id="card-6-img" src="" alt="Card image cap">
            <div class="card-body">
                <b><h4 class="card-title" id="card-6-title">Card title</h4></b>
                <h6 class="card-temp" id="card-6-temp" >70°/84°</h6>
                <img class="card-small-img" id="card-6-small-img"></img>
             </div>
            </div>
        </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    let dayNumber = new Date().getDay();
    for(i = 0;i < 7; i++) {
        isWatering(dayNumber, i)
            if(dayNumber === 6){dayNumber = 0}
    else {dayNumber++}
    }
    function isWatering(dayNumber,cardNumber) {
    $.getJSON('/is_day_on/'.concat(dayNumber),function (data) {
        if(data.isValveOn === true){
            document.getElementById('card-'.concat(cardNumber).concat('-small-img')).src = "/static/images/raindrop.png";
        }
        else {document.getElementById('card-'.concat(cardNumber).concat('-small-img')).innerHTML = "Not Watering <br> Today"}
    })}
</script>
<script type="text/javascript">
let daysOfTheWeek = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
    let today = new Date().getDay();

    for (i = 0; i < 7; i++){
        document.getElementById("card-".concat(i).concat('-title')).innerHTML = daysOfTheWeek[today];
        if(today === 6){today = 0}
        else {today++}
    }
</script>


<script type="text/javascript">
    for (i = 0; i < 7; i++){
        descriptionOfWeather(i)
    }
    function descriptionOfWeather(dayNumber){
    $.getJSON('https://api.openweathermap.org/data/2.5/onecall?lat=40.098201599999996&lon=-111.6209152&exclude=minutely,current,hourly&units=imperial&appid=3a00f281352563677d5a0ec2ddb2232c',function (data) {
        let weatherDescription = JSON.stringify(data.daily[dayNumber].weather[0].description);
        let weatherTempMin = JSON.stringify(data.daily[dayNumber].temp.min);
        weatherTempMin = Math.round(weatherTempMin)
        let weatherTempMax = JSON.stringify(data.daily[dayNumber].temp.max);
        weatherTempMax = Math.round(weatherTempMax)
        displayPictureOfWeather(weatherDescription, dayNumber)
        displayTemp(weatherTempMin,weatherTempMax,dayNumber)

    });
    }
    function displayPictureOfWeather(weatherString,dayNumber) {
        let imgUrl = ''

        switch (weatherString) {
            case "\"clear sky\"":
                imgUrl = " http://openweathermap.org/img/wn/01d@2x.png"
                break;
            case "\"few clouds\"":
                imgUrl = " http://openweathermap.org/img/wn/02d@2x.png"
                break;
            case "\"scattered clouds\"":
                imgUrl = " http://openweathermap.org/img/wn/03d@2x.png"
                break;
            case "\"broken clouds\"":
                imgUrl = " http://openweathermap.org/img/wn/04d@2x.png"
                break;
            case "\"shower rain\"":
                imgUrl = " http://openweathermap.org/img/wn/09d@2x.png"
                break;
            case "\"rain\"":
                imgUrl = " http://openweathermap.org/img/wn/10d@2x.png"
                break;
            case "\"thunderstorm\"":
                imgUrl = " http://openweathermap.org/img/wn/11d@2x.png"
                break;
            case "\"snow\"":
                imgUrl = " http://openweathermap.org/img/wn/13d@2x.png"
                break;
            case "\"mist\"":
                imgUrl = " http://openweathermap.org/img/wn/50d@2x.png"
                break;
            default:
                console.log(weatherString)
                imgUrl = " http://openweathermap.org/img/wn/13d@2x.png"
        }
        document.getElementById("card-".concat(dayNumber).concat("-img")).src = imgUrl;

        }

    function displayTemp(tempMin,tempMax,dayNumber) {
        let tempString = "".concat(tempMin).concat('°/').concat(tempMax).concat('°')
        console.log(tempString)
        document.getElementById("card-".concat(dayNumber).concat("-temp")).innerHTML = tempString;

    }


</script>
{% endblock %}

