{% extends "layout.html" %}
{% block head %}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='zones.css') }}">
{% endblock %}
{% block content %}
<h1 id="zones-header">My Zones</h1>
<div  id="zones-cards">
<a class="zone-button" id = "zone-1-toggle" href="#"><div class="card" id="card-1-body"style="width: 18rem;">
  <img class="card-img-top" src="/static/images/grass.png" alt="">
  <div class="card-body" >
    <h2 class="card-title">Zone 1</h2>
    <p id="card-1-text" class="card-text"></p>
  </div>
</div></a>
  <a class="zone-button" id = "zone-2-toggle" href="#"><div id="card-2-body" class="card" style="width: 18rem;">
  <img class="card-img-top" src="/static/images/grass.png" alt="">
  <div class="card-body" >
    <h2 class="card-title">Zone 2</h2>
    <p id="card-2-text" class="card-text"></p>
  </div>
  </div></a>
  <a class="zone-button" id = "zone-3-toggle" href="#"><div class="card" id="card-3-body" style="width: 18rem;">
  <img class="card-img-top" src="/static/images/grass.png" alt="">
  <div class="card-body" >
    <h2 class="card-title">Zone 3</h2>
    <p id="card-3-text" class="card-text"></p>
  </div>
  </div></a>
  <a class="zone-button" id = "zone-4-toggle" href="#"><div class="card" id="card-4-body" style="width: 18rem;">
  <img class="card-img-top" src="/static/images/grass.png" alt="">
  <div class="card-body" >
    <h2 class="card-title">Zone 4</h2>
    <p id="card-4-text" class="card-text"></p>
  </div>
  </div></a>
  <a class="zone-button" id = "zone-5-toggle" href="#"><div class="card" id="card-5-body" style="width: 18rem;">
  <img class="card-img-top" src="/static/images/grass.png" alt="">
  <div class="card-body" >
    <h2 class="card-title">Zone 5</h2>
    <p id="card-5-text" class="card-text"></p>
  </div>
  </div></a>
  <a class="zone-button" id = "zone-6-toggle" href="#"><div class="card" id="card-6-body" style="width: 18rem;">
  <img class="card-img-top" src="/static/images/grass.png" alt="">
  <div class="card-body" >
    <h2 class="card-title">Zone 6</h2>
    <p id="card-6-text" class="card-text"></p>
  </div>
  </div></a>
  <a class="zone-button" id = "zone-7-toggle" href="#"><div class="card" id="card-7-body" style="width: 18rem;">
  <img class="card-img-top" src="/static/images/grass.png" alt="">
  <div class="card-body" >
    <h2 class="card-title">Zone 7</h2>
    <p id="card-7-text" class="card-text"></p>
  </div>
  </div></a>
  <a class="zone-button" id = "zone-8-toggle" href="#"><div class="card" id="card-8-body" style="width: 18rem;">
  <img class="card-img-top" src="/static/images/grass.png" alt="">
  <div class="card-body">
    <h2 class="card-title">Zone 8</h2>
    <p id="card-8-text" class="card-text"></p>
  </div>
  </div></a>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
  $(function () {
    $('a#zone-1-toggle').bind("click",function () {
      $.getJSON("/toggle/1")
      return false

    })
        $('a#zone-2-toggle').bind("click",function () {
      $.getJSON("/toggle/2")
          return false

    })
            $('a#zone-3-toggle').bind("click",function () {
      $.getJSON("/toggle/3")
              return false;
    })
            $('a#zone-4-toggle').bind("click",function () {
      $.getJSON("/toggle/4")
              return false

    })
            $('a#zone-5-toggle').bind("click",function () {
      $.getJSON("/toggle/5")
              return false

    })
            $('a#zone-6-toggle').bind("click",function () {
      $.getJSON("/toggle/6")
              return false

    })
            $('a#zone-7-toggle').bind("click",function () {
      $.getJSON("/toggle/7")
              return false

    })
            $('a#zone-8-toggle').bind("click",function () {
      $.getJSON("/toggle/8")
              return false

    })
  })
function whichZoneIsOn(data){
            if(data.valve1 === true){
          document.getElementById("card-1-body").style.border = "5px solid #387FCD";
        }
        else {document.getElementById("card-1-body").style.border = "1px solid black"}

            if(data.valve2 === true){
          document.getElementById("card-2-body").style.border = "5px solid #387FCD";
        }
        else {document.getElementById("card-2-body").style.border = "1px solid black"}

            if(data.valve3 === true){
          document.getElementById("card-3-body").style.border = "5px solid #387FCD";
        }
        else {document.getElementById("card-3-body").style.border = "1px solid black"}

            if(data.valve4 === true){
          document.getElementById("card-4-body").style.border = "5px solid #387FCD";
        }
        else {document.getElementById("card-4-body").style.border = "1px solid black"}

            if(data.valve5 === true){
          document.getElementById("card-5-body").style.border = "5px solid #387FCD";
        }
        else {document.getElementById("card-5-body").style.border = "1px solid black"}

            if(data.valve6 === true){
          document.getElementById("card-6-body").style.border = "5px solid #387FCD";
        }
        else {document.getElementById("card-6-body").style.border = "1px solid black"}

            if(data.valve7 === true){
          document.getElementById("card-7-body").style.border = "5px solid #387FCD";
        }
        else {document.getElementById("card-7-body").style.border = "1px solid black"}

            if(data.valve8 === true){
          document.getElementById("card-8-body").style.border = "5px solid #387FCD";
        }
        else {document.getElementById("card-8-body").style.border = "1px solid black"}

}
    $(function () {
    $("a.zone-button").bind("click",function () {
      $.getJSON('/isValveOn/',function (data) {
              whichZoneIsOn(data)
      })

    })})
  $.getJSON('/isValveOn/',function (data) {
        whichZoneIsOn(data)
  })




</script>
{% endblock%}
