header{
    background-color: #387FCD;
    border-bottom: 4px solid #111;
    padding: 15px 30px;
    font-size: 30px;
}
body{
    background-color: #F2F2F1;
}
.container-xl{
    background-color: #FFFFFF;
    text-align: center;
}
.nav-item a{
    color: #ffffff;
}
.nav li{
    font-size: 4vw;
}
#logo{
    background: transparent;
    width: 4vw;
    height: 6vw;
}