#schedule-header{
    padding: 30px 0px 0px 0px;
}
.form-check{
    padding: 10px;
}
#options-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 30px 0px 300px 0px;
}
#day-options{
    padding: 0 5%;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}
#zone-options{
    padding: 0 5%;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}
#time-options{
    padding: 0% 5%;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}
#clock-setter{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.form-control{
    font-size: smaller;
}
.btn{
    max-width: 50%;
    min-width: 35%;
    background-color: #387FCD;
    border: 1px solid black;
}
.form-check-input{
    color: #387FCD;
}