.card {
    display: inline-block;
    max-width: 40%;
    min-width: 40%;
    margin: 1vw;
    text-decoration: none;
    border: 1px solid black;

}
a:hover{
    color: inherit;
}

.zone-button{
    color:inherit;

}
#zones-header{
    padding: 30px 0px;
}
#zones-cards{
    padding-bottom: 30px;
}
.card-body{
    display: flex;
    border-top: 2px solid black;
    flex-direction: column;
    padding: 1vw;
}
.card-title{
    align-self: flex-start;
     text-decoration: none;
}
.form-control{
    max-width: 5rem;
    min-width: 5rem;
}
.btn{
    background-color: #387FCD;
}
.card-img-top{
    height: 10%;
}
.card{
    width: 18rem;
}